h1 {
 font-size:1.6rem
}
h2 {
 font-size:1.5rem
}
h3 {
 font-size:1.3rem
}
h4 {
 font-size:1.2rem
}
h5 {
 font-size:1.1rem
}
a {
 color:#d85e5e;
 cursor:pointer
}
a:hover {
 color:#a74747;
 text-decoration:none
}
#copyButton {
 background:#fff;
 border:1px solid #e8e8e8;
 position:absolute;
 right:5%;
 border-top:0;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 padding:5px 20px;
 cursor:pointer
}
#copyButton:focus {
 outline:none
}
#copyButton:hover {
 background:#e8e8e8
}
.onl-block {
 width:10px;
 position:absolute;
 height:10px;
 background:#8ac176;
 border-radius:50px;
 top:54%;
 left:72%;
 display:none
}
.offl-block {
 width:10px;
 position:absolute;
 height:10px;
 background:grey;
 border-radius:50px;
 top:54%;
 left:72%;
 display:none
}
.small-span {
 display:block;
 font-size:1rem!important;
 font-style:italic;
 color:#d4cfcf!important;
 border-top:1px dashed #f3e6e6
}
.satano-nav .dropdown-item:active {
 color:#fff;
 text-decoration:none;
 background-color:#d85e5e
}
.error-404 h1 {
 font-size:4rem;
 text-transform:uppercase;
 font-weight:900;
 margin:250px 0 10px
}
.error-404 p {
 font-size:2rem;
 margin-bottom:250px
}
.show-all-reviews {
 display:block;
 margin:auto;
 width:30%;
 text-align:center;
 font-weight:600;
 padding:5px;
 color:#fff!important;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
 border:1px solid #e25658;
 border-top:0
}
.show-all-reviews a {
 color:#e25658
}
.satano-nav .dropdown-item {
 display:block;
 width:100%;
 padding:.45rem 1.8rem;
 clear:both;
 font-weight:400;
 color:#212529;
 text-align:inherit;
 white-space:nowrap;
 background-color:transparent;
 border:0
}
.custom-range {
 -webkit-appearance:none;
 width:100%;
 height:15px;
 border-radius:5px;
 outline:none;
 opacity:.7;
 -webkit-transition:.2s;
 transition:opacity .2s
}
.custom-range::-webkit-slider-thumb {
 -webkit-appearance:none;
 appearance:none;
 width:16px;
 height:16px;
 border-radius:50%;
 background:#d85e5e;
 cursor:pointer
}
.custom-range::-moz-range-thumb {
 width:16px;
 height:16px;
 border-radius:50%;
 background:#d85e5e;
 cursor:pointer
}
::-webkit-scrollbar {
 width:5px
}
::-webkit-scrollbar-track {
 -webkit-border-radius:10px;
 border-radius:10px
}
::-webkit-scrollbar-thumb {
 -webkit-border-radius:10px;
 border-radius:10px;
 background:#d85e5e
}
::-webkit-scrollbar-thumb:window-inactive {
 background:rgba(255,0,0,.4)
}
footer {
 background:#252525;
 color:#fff
}
footer ul {
 list-style:none
}
footer li {
 padding:5px 10px
}
footer a {
 color:#6c757d
}
footer a:hover {
 text-decoration:none;
 color:#fff
}
.buy-btn-new {
 background:#d85e5e;
 color:#fff;
 padding:10px;
 margin:10px 0;
 display:block;
 border-radius:8px;
 font-weight:700
}
.buy-btn-new:hover {
 color:#fff!important
}
.header-h1 h1 {
 border:2px solid #fff;
 display:inline-block;
 padding:5px 15px;
 border-radius:10px
}
.header-h3 h3 {
 border:2px solid #6c757d;
 display:inline-block;
 padding:2px 6px;
 border-radius:10px
}
.breadcrumb {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 padding:.75rem 1rem;
 margin-bottom:1rem;
 list-style:none;
 background-color:#f3f3f3;
 border-radius:.25rem
}
.breadcrumb-item a {
 color:#d85e5e;
 text-decoration:none;
 background-color:transparent;
 -webkit-text-decoration-skip:objects
}
.breadcrumb-item a:hover {
 color:#bf5252;
 text-decoration:none;
 background-color:transparent;
 -webkit-text-decoration-skip:objects
}
.breadcrumb-item+.breadcrumb-item::before {
 display:inline-block;
 padding-right:.5rem;
 color:#6c757d;
 content:"→"
}
.header-logo {
 font-size:1.6rem;
 font-weight:700
}
.header-logo:hover {
 text-decoration:none;
 cursor:pointer
}
.text-onstep {
 border-bottom:2px solid #efefef;
 font-size:1.3rem;
 padding-bottom:10px;
 font-weight:500;
 text-align:center;
 text-transform:uppercase;
 color:#000;
 font-weight:700
}
.modal_buy a {
 color:#d85e5e
}
.modal_buy a:hover {
 color:#b54b4b
}
.modal-dialog {
 max-width:800px;
 margin:1.75rem auto
}
.step-text {
 font-weight:900;
 font-size:4rem;
 color:#000;
 text-transform:uppercase
}
.step-text span {
 border:10px solid;
 border-radius:125px;
 width:116px;
 display:inline-block;
 text-align:center
}
.about-buy {
 display:inline-block;
 padding:5px 10px;
 margin:0 10px;
 color:#6c757d;
 border-radius:10px;
 border:1px solid #e8e8e8
}
.copy-txt-buy {
 width:100%;
 padding:20px;
 color:#6c757d;
 background:#fff;
 border:1px solid #e8e8e8;
 border-radius:10px;
 text-align:center;
 cursor:text
}
.dragon-hack {
 background:#f3f3f3;
 min-height:540px;
 position:relative;
 top:-35px;
 margin:10px!important;
 bottom:-19px;
 border-radius:10px;
 padding:10px;
 border:2px solid #e6e6e6;
 box-shadow:0 5px 14px 6px #2472bb1f
}
.dragon-hack h2 {
 background:-webkit-linear-gradient(85deg,#4d5975,#4286f4);
 font-weight:700;
 line-height:1.5;
 text-transform:uppercase;
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.phoenix-hack {
 background:#fff;
 min-height:440px;
 margin:10px!important;
 border-radius:10px;
 padding:10px;
 border:2px solid #e6e6e6;
 box-shadow:0 5px 14px 6px #ff5e0114
}
.phoenix-hack h2 {
 background:-webkit-linear-gradient(85deg,#fe8c00,#f83600);
 font-weight:700;
 line-height:1.5;
 text-transform:uppercase;
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.phoenix-hack-lite {
 background:#fff;
 min-height:440px;
 margin:10px!important;
 border-radius:10px;
 padding:10px;
 border:2px solid #e6e6e6;
 box-shadow:0 5px 14px 6px #8a617e21
}
.phoenix-hack-lite h2 {
 background:-webkit-linear-gradient(85deg,#aa4b6b,#6b6b83,#3b8d99);
 font-weight:700;
 line-height:1.5;
 text-transform:uppercase;
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.pubg-hack {
 background:#f3f3f3;
 min-height:540px;
 position:relative;
 top:-35px;
 margin:10px!important;
 bottom:-19px;
 border-radius:10px;
 padding:10px;
 border:2px solid #e6e6e6;
 box-shadow:0 5px 14px 6px #2472bb1f
}
.pubg-hack h2 {
 background:-webkit-linear-gradient(85deg,#ffa01c,#da720e);
 font-weight:700;
 line-height:1.5;
 text-transform:uppercase;
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.cheat-links i {
 color:#78e078!important
}
.cheat-links span {
 color:#a9a7a7;
 font-weight:400;
 font-size:1.6rem
}
.cheat-links button i {
 color:#252525!important
}
.cheat-links .btn:focus {
 box-shadow:none
}
.cheat-links .card {
 position:relative;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-direction:column;
 flex-direction:column;
 min-width:0;
 word-wrap:break-word;
 background-color:#f1f1f1;
 background-clip:border-box;
 border:none;
 border-radius:.25rem
}
.cheat-links a {
 color:#fff;
 text-align:center
}
.cheat-links a:hover {
 color:#fff;
 text-decoration:none
}
.cheat-links ul {
 list-style:none;
 padding:0
}
.cheat-links li {
 color:#6c757d!important;
 margin:5px;
 border:1px solid #e6e6e6;
 border-radius:10px;
 background:#fff;
 padding:10px
}
.ranges-rust {
 height:10px
}
.ranges-rust span {
 border-left:4px solid #e8ebed;
 padding:0 0 0 10px
}
.ranges-rust {
 height:10px
}
.ranges-rust span:first-child {
 color:#c7c7c7;
 border-left:2px solid #e8ebed;
 padding:0 10px;
 left:3%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-rust span:nth-child(2) {
 color:#c7c7c7;
 border-right:2px solid #e8ebed;
 padding:0 10px;
 left:36%;
 position:absolute;
 display:inline-block;
 font-weight:100;
 border-left:0
}
.ranges-rust span:last-child {
 color:#c7c7c7;
 text-align:right;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:3%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-dragon span {
 border-left:4px solid #e8ebed;
 padding:0 0 0 10px
}
.ranges-dragon span:nth-child(2) {
 color:#c7c7c7;
 border-right:2px solid #e8ebed;
 padding:0 10px;
 left:12%;
 position:absolute;
 display:inline-block;
 font-weight:100;
 border-left:0
}
.ranges-dragon span:nth-child(3) {
 color:#c7c7c7;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:59%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-dragon span:nth-child(4) {
 color:#c7c7c7;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:40%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-dragon span:nth-child(5) {
 color:#c7c7c7;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:22%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-dragon span:first-child {
 color:#c7c7c7;
 border-left:none;
 padding:0 10px;
 left:0%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-dragon span:last-child {
 color:#c7c7c7;
 text-align:right;
 border-right:none;
 border-left:0;
 padding:0 10px;
 right:0%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges {
 height:10px
}
.ranges span {
 border-left:4px solid #e8ebed;
 padding:0 0 0 10px
}
.ranges span:nth-child(2) {
 color:#c7c7c7;
 border-left:2px solid #e8ebed;
 padding:0 10px;
 left:34%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges span:nth-child(3) {
 color:#c7c7c7;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:34%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges span:first-child {
 color:#c7c7c7;
 border-left:2px solid #e8ebed;
 padding:0 10px;
 left:3%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges span:last-child {
 color:#c7c7c7;
 text-align:right;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:3%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-wf {
 height:10px
}
.ranges-wf span {
 border-left:4px solid #e8ebed;
 padding:0 0 0 10px
}
.ranges-wf span:nth-child(2) {
 color:#c7c7c7;
 border-left:2px solid #e8ebed;
 padding:0 10px;
 left:50%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.ranges-wf span:first-child {
 color:#c7c7c7;
 border-left:2px solid #e8ebed;
 padding:0 10px;
 left:3%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
.green-text {
 color:#5fd092
}
.ranges-wf span:last-child {
 color:#c7c7c7;
 text-align:right;
 border-right:2px solid #e8ebed;
 border-left:0;
 padding:0 10px;
 right:3%;
 position:absolute;
 display:inline-block;
 font-weight:100
}
#reviews {
}
#reviewsBlock {
 background:url(../img/reviews-bg.webp) fixed;
 background-attachment:fixed;
 background-position:center;
 width:70%;
 margin:auto;
 border-radius:10px
}
#reviewsBlock .carousel-item {
}
.seller-block {
 border:1px solid #e8e8e8;
 border-radius:10px;
 text-align:center;
 padding:10px
}
.carousel-control-next,
.carousel-control-prev {
 color:#fff!important
}
.bg-theme {
 background-color:#808080!important
}
.text-theme {
 color:#808080!important
}
.green-text-gr {
 background:-webkit-linear-gradient(45deg,#93F9B9,#1D976C);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.blue-text-gr {
 background:-webkit-linear-gradient(45deg,#7f7fd5,#86a8e7,#91eae4);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.purple-text-gr {
 background:-webkit-linear-gradient(45deg,#fc5c7d,#6a82fb);
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent
}
.img-load {
 background-image:url(../img/csgo-link.webp),url(../img/pubg-link.webp),url(../img/warface-link.webp),url(../img/rust-link.webp),url(../img/spoofer-link.webp)
}
.red-bg {
 background-image:url(../img/red_bg_main.webp);
 height:650px
}
.spoofer-link {
 margin:auto;
 display:block;
 height:180px;
 cursor:pointer;
 background:url(../img/spoofer-link-gr.webp) no-repeat center;
 border-radius:10px
}
.spoofer-link:hover {
 background:url(../img/spoofer-link.webp) no-repeat center
}
.r6s-link3 {
 margin:auto;
 display:block;
 height:180px;
 cursor:pointer;
 background:url(../img/r6s.jpg) no-repeat center;
 border-radius:10px
}
.r6s-link3:hover {
 background:url(../img/r6s.jpg) no-repeat center
}
.csgo-link {
 display:block;
 height:400px;
 cursor:pointer;
 background:url(../img/csgolinkgr.png) no-repeat center;
 border-radius:10px
}
.csgo-link:hover {
 background:url(../img/csgolink.png) no-repeat center
}
.pubg-link {
 display:block;
 height:400px;
 cursor:pointer;
 background:url(../img/pubglinkgr.png) no-repeat center;
 border-radius:10px
}
.pubg-link:hover {
 background:url(../img/pubglink.png) no-repeat center
}
.warface-link {
 display:block;
 height:400px;
 cursor:pointer;
 background:url(../img/warfacelinkgr.png) no-repeat center;
 border-radius:10px
}
.warface-link:hover {
 background:url(../img/warfacelink.png) no-repeat center
}
.rust-link {
 display:block;
 height:400px;
 cursor:pointer;
 background:url(../img/rustlinkgr.png) no-repeat center;
 border-radius:10px
}
.rust-link:hover {
 background:url(../img/rustlink.png) no-repeat center
}
.post-block {
 background:#efefef;
 padding:20px;
 border-radius:10px
}
.blog-content {
 border-radius:15px;
 margin:30px 0;
 background:#f1f1f1;
 color:grey
}
.blog-content-info {
 background:#f1f1f1;
 padding:10px 20px;
 border-radius:15px;
 margin:20px 0;
 color:grey;
 display:block
}
.more_info_post {
 text-align:right;
 display:block;
 color:#c1c1c1;
 font-size:.9rem;
 margin-bottom:0
}
.post-block h4 {
 background:#808080;
 padding:5px 0 5px 1%;
 color:#fff;
 border-radius:5px
}
.post-block p {
 padding:5px 2%
}
.post-block a {
 color:#d85e5e
}
.post-block a:hover {
 color:#ca5858;
 text-decoration:none
}
.guarantees_block {
 list-style:none;
 padding:0
}
.guarantees_block span {
 font-weight:600;
 font-size:1.6rem
}
.hvr-underline-from-left:before {
 background:#d85e5e!important
}
@media screen and (max-width:500px) {
 .header-logo {
  font-size:1rem;
  font-weight:700
 }
 .csgo-link {
  height:90px;
  background-position:top;
  margin-bottom:10px
 }
 .pubg-link {
  height:90px;
  background-position:top;
  margin-bottom:10px
 }
 .warface-link {
  height:90px;
  background-position:top;
  margin-bottom:10px
 }
 .rust-link {
  height:90px;
  background-position:top;
  margin-bottom:10px
 }
 .ranges-dragon {
  height:10px;
  font-size:13px
 }
 .satano-nav li {
  margin:10px 0;
  text-align:center;
  border-radius:5px;
  border:1px solid #ecafaf
 }
 .dropdown-menu {
  background:0 0;
  border-color:#daa4a485;
  color:#fff;
  text-align:center;
  margin:10px
 }
 .satano-nav .dropdown-item {
  display:block;
  width:100%;
  padding:.45rem 1.8rem;
  clear:both;
  font-weight:400;
  color:#fff;
  text-align:inherit;
  background:red;
  white-space:nowrap;
  background-color:transparent;
  border-bottom:1px solid #ecafaf
 }
}
@media(max-width:900px) {
 #vk-vk {
  display:none!important
 }
 .socials {
  display:none
 }
 .logo-text {
  max-width:66%;
  flex:0%;
  text-align:left!important
 }
 #about p {
  text-align:center!important;
  line-height:1.3;
  font-size:.9rem
 }
 #reviewsBlock {
  background:url(../img/reviews-bg.webp) fixed;
  background-attachment:fixed;
  background-position:center;
  margin:auto;
  width:100%;
  border-radius:10px
 }
 .show-all-reviews {
  display:block;
  margin:auto;
  width:100%!important;
  text-align:center;
  font-weight:600;
  padding:5px;
  color:#fff!important;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  border:0;
  border-top:0;
  font-weight:700;
  font-size:1.2rem
 }
}
